/* CONFIGURACION GRAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECTION CONTENEDORLOGO */
/* barra header */
.contenedorLogoNav{
    background-color: rgb(53,58,64);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 9;
    font-size: 1.5rem;
    position: fixed;
}
.contenedorLogoTitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contenedorLogoTitulo h2{
    font-size: 1.2rem;
    font-family: sans-serif;
    color: white;
    font-weight: 100;
}
.logo{
    width: 8rem;
}
.contenedorNav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.contenedorNav ul a{
    text-decoration: none;
    font-size: 1rem;
    margin-right: 2rem;
}

.colorWhite{
    color: white;
}
.colorGris{
    color: rgb(155,156,160);
}
.colorVerde{
    color: rgb(40,167,69);
}
.colorFondoGradiente{
    background-image: linear-gradient(to right, #1c3844, #1c3f4f, #1c465a, #1c4c66, #1e5372);
}
/* fin barra header */

.conferencia{
    background: url(../assets/img/ba1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.conferencia::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); 
    width: 100%;
    height: 100vh;
} 
.contenedorTexto{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: end;
    width: 50%;
    color: white;
    font-family: sans-serif;
    margin-bottom: 5rem;
    margin-right: 5rem;
    z-index: 2;
}
.contenedorTexto h1{
    font-size: 2rem;
    margin-bottom: 1.2rem;
}
.contenedorTexto p{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.contenedorTexto a{
    width: 20rem;
    height: 10rem;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.enlaceUno{
    border: 1px solid white;
    background: none;
}
.enlaceUno:hover{
    background: green;
    border: none;
}
.enlaceDos{
    background: green;
}
.enlaceDos:hover{
    background: rgb(18, 103, 18);
}


/* SECTION ORADORES */
.contentTituloOradores{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
.contentTituloOradores p,
.contentTituloOradores h2{
    width: 20rem;
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
}
.contenedorCards{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;

}

.card img{
    width: 20rem;
    height: 20rem;
    object-fit: cover; 
}
.card h3,
.card p{
    margin-top: 10px;
    text-align: start;
    color: rgb(69, 69, 69);
    width: 20rem;
}
.tagsCard{
    display: flex;

}
.tag1, .tag2{
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 2rem;
}
.tag1{
    background: rgb(235, 235, 4);
}
.tag2{
    background: rgb(7, 147, 155);
    color: white;
}
.negocios{
    background: rgb(168, 168, 168);
}
.startups{
    background: rgb(133, 14, 14);
}

/* LUGAR FECHA */
#lugarFecha{
    height: 100vh;
    display: flex;
    background: rgb(49, 49, 49);
    color: white;
    font-family: sans-serif;
    align-items: center;
}

.lugarFoto img{
    /* height: 100vh;
    width: 45rem; */
    width: 100%; 
    height: auto; 
}
.textoLugarFoto{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.textoLugarFoto h2,
.textoLugarFoto p,
.textoLugarFoto a{
    margin-top: 2rem;
}
.botonTickets{
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    width: 8rem;
    display: flex;
    justify-content: center;
}
/* FORMULARIO ORADOR */
#formularioOrador {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textoFormulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}

  .formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 50%;
  }
  
  textarea {
    grid-column: span 2;
    height: 10rem;
  }
  
  .formulario input {
    display: inline-block;
    height: 2rem;
  }

  iframe{
    margin-top: 20px;
    width: 100vh;
  }


/* FOOTER */
.footer{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    background: #1c3844;
    justify-content: center;
    align-items: center;
}
.footer a{
    color:white;
    margin-right: 5rem;
    font-size: 1rem;
    text-decoration: none;
    font-family: sans-serif;
    width: 5rem;
}

/* RESPONSIVE */

@media(max-width: 1300px){
    #lugarFecha{
        flex-direction: column;
        /* height: 100vh; */
        padding-bottom: 62rem;
    }
}
@media(max-width: 800px){

    .contenedorCards{
        flex-direction: column;
        justify-content: flex-start;
    }
    #lugarFecha{
        margin-top: 75rem;
        flex-direction: column;
    }

}
@media(max-width: 600px){
}
